div.navbar.navbar-fixed-top
    div.navbar-inner
        div.container
            a(data-toggle='collapse',data-target='.nav-collapse').btn.btn-navbar
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a(href='#').brand #{title}
            div.nav-collapse
                ul.nav
                    - var obj = { 'home': 'Home', 'example1': 'Example 1' }
                        - each val, key in obj
                          - if (id == key) 
                            li.active
                              a(href='#{key}') #{val}
                          - else
                            li
                              a(href='#{key}') #{val}



